<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346088357255-jh2p7l1j8jdq18qr7nhgt9evlmlj6g0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346088357255-jh2p7l1j8jdq18qr7nhgt9evlmlj6g0a</string>
	<key>API_KEY</key>
	<string>AIzaSyBsJu8maQCD3FdPepzutxBw0Kk6fK48oqY</string>
	<key>GCM_SENDER_ID</key>
	<string>346088357255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healtheat</string>
	<key>PROJECT_ID</key>
	<string>healtheat-a8083</string>
	<key>STORAGE_BUCKET</key>
	<string>healtheat-a8083.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346088357255:ios:1184888e462be65113e722</string>
</dict>
</plist>